.css-cz2izx,
.css-16bqh9d {
  padding: 0px !important;
}

.NotificationsBar-box {
  background-color: rgba(17, 19, 22, 1);
  border-radius: 15px;
  left: 1px;
  position: relative;
  width: 365px;
  max-width: 452px;
  height: 500px;
  max-height: 1000px;
  margin: 5px;
}

.NotificationsNavbar {
  background-color: #191c1f;
  height: 55px;
  width: 365px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 0.8px solid rgba(230, 209, 209, 0.27);
}

.NotificationsNavbar .overlap-group {
  display: flex;
  justify-content: space-around;
  padding: 15px 10px 10px 10px;
}

.NotificationsNavbar .text-wrapper {
  color: #fffffff2;
  font-family: "sfprodisplay-medium", serif;
  font-size: 17px;
  font-weight: 500 !important;
  height: 27px;
  left: 0;
  padding: 5px 0px 0px 0px;
  letter-spacing: -0.45px;
  line-height: 19.8px;
  padding-top: 8.5px;
}

.NotificationsNavbar .push-button {
  padding: 4px 0px 0px 45px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.NotificationsNavbar .SF-symbol-xmark {
  width: 25px !important;
  height: 25px !important;
}

/* Override min-width */
.NotificationsNavbar .min-w-16 {
  height: 23px !important;
  width: 80px !important;
  /* Remove min-width constraint */
}

/* Override height */
.NotificationsNavbar .h-8 {
  height: auto; /* Adjust height to fit content */
}

/* Override padding */
.NotificationsNavbar .px-3 {
  padding-left: 19.03px; /* Horizontal padding from .navbar .push-button */
  padding-right: 19.03px;
  padding-top: 5.44px; /* Vertical padding from .navbar .push-button */
  padding-bottom: 5.44px;
}

/* Override gap */
.NotificationsNavbar .gap-2 {
  gap: 13.59px; /* Gap between elements inside the button from .navbar .push-button */
}

/* Override border-radius */
.NotificationsNavbar .rounded-small {
  border-radius: 8.16px; /* Border radius from .navbar .push-button */
}

/* Override background */
.NotificationsNavbar .bg-primary {
  background: linear-gradient(
    180deg,
    rgb(75, 145, 247) 0%,
    rgb(54, 122, 246) 100%
  ); /* Background from .navbar .push-button */
}

/* Override text color */
.NotificationsNavbar .text-primary-foreground {
  color: #ffffff; /* Text color from .navbar .text */
}
