@keyframes backgroundAnimation {
  0% {

    filter: brightness(0.8);
    opacity: 0.8;
  }
  30% {

    filter: brightness(0.8);
    opacity: 1;
  }

  50% {

    filter: brightness(0.9);
    opacity: 1;
  }
  100% {

    filter: brightness(1);
    opacity: 0.8;
  }
}

.store-frame {
  width: 100%;
  height: 100%;
  /* margin-top: 1px; */
  background: url("./assets/iPongStoreBackground.jpg");
  background-size: cover;
  border: 0.8px solid #3c424d;
  position: relative;
  animation: backgroundAnimation 10s infinite alternate;
}

.Store-List-nav {
  border-radius: 10px;
  height: 60px;
  width: 100%;

  background-color: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 20px;
  justify-content: end;

}

.Store-List-nav-item {
    border-radius: 3px;
  padding-top: 2px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "fortnite-1", Helvetica;
  width: max-content;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  background-color: #0086e7;
}

.Store-List-nav-item:hover {
  background-color: #0056b3;
  cursor: pointer;
}

.Store-List {
    position: absolute;  
    bottom: 0;           
    left: 0;            
    margin: 20px;        
    padding: 10px;       
    max-width: 600px;   
    border-radius: 10px;
    background-color: #101c2e;
  }


  .text-default-500-over {
    font-size: 12px !important;
  }

.store-frame .object-coverd {
  /* margin-left: 40px;
    margin-top: 10px; */
}

.blur-img {
  /* mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)); */
  /* background-image: url("./assets/iPongStoreBackground.jpg"); */
  filter: blur(2px);
}
