.ChatPanelFooter-frame {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background-color: transparent !important;
    gap: 5px;
    padding: 0px 50px 0px 50px;
    /* margin-top: 30px; */
    /* background-color: red !important; */

}

.autocomplete {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
}

@media (min-width: 1900px) {
    .ChatPanelFooter-frame {
        padding: 0px 400px 0px 400px;
    }
   
}
.css-13w9pnp {
    padding: 0px !important;
}
.ChatPanelFooter-frame .SendMessage {
    width: 26px;
    height: 26px;
}


.ChatPanelFooter-frame .SendMessage:hover {
    cursor: pointer;
    opacity: 0.8;
}

.css-4x4z4m {
    padding: 0px !important;
}