.ChatPanelFooter-frame {
    width: calc(100% - 100px);
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0px 25px;
    background-color: transparent !important;
    /* // why when i remove this the input take the full screen width  */
    backdrop-filter: blur(0px);
    position: relative;
}

.autocomplete {
    display: flex;
    gap: 5px;
    width: 100%;
    overflow-x: auto;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;

}

.subtitles-chip:hover {
    cursor: pointer;
    background-color: #3a3a3a;

}

.ChatPanelFooter-Input {

    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 2;
}

@media (min-width: 1900px) {
    .ChatPanelFooter-frame {
        padding: 0px 400px 0px 400px;
    }
}

.ChatPanelFooter-frame .SendMessage {
    width: 26px;
    height: 26px;
}

.ChatPanelFooter-frame [data-slot="input-wrapper"] {
    background-color:  #202020 !important;
}

.ChatPanelFooter-frame .SendMessage:hover {
    cursor: pointer;
    opacity: 0.8;
}

.css-4x4z4m {
    padding: 0px !important;
}
