.ChatPanelFooter-frame {
    width: 100%;
    height: 100%;

    padding: 20px 100px 0px 100px;
}



@media (min-width: 1900px) {
    .ChatPanelFooter-frame {
        padding: 20px 400px 0px 400px;
    }
   
}
.css-13w9pnp {
    padding: 0px !important;
}
.ChatPanelFooter-frame .SendMessage {
    width: 26px;
    height: 26px;
}

/* .ChatPanelFooter-Input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
} */

.ChatPanelFooter-frame .SendMessage:hover {
    cursor: pointer;
    opacity: 0.8;
}