.iPongGame-VersusBadge {
  display: flex;
  position: relative;
}



.VersusBadge-img {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  object-fit: cover;
  object-position: center;
  
}

.iPongGame-UserBadge {
  display: flex;

  justify-content: space-between;
  align-items: space-between;
}























































/* 
.iPongGame-UserBadge,
.iPongGame-VersusBadge {
  display: flex;
  position: relative;

}

.VersusBadge-img ,
.UserBadge-img {

  width: 3.8vw;
  height: 3.8vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #fff;
}


.iPongGame-UserBadge-username {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 10px;
  width: 60%;
}


.iPongGame-UserBadge-username .username {
  font-weight: 550 !important;


  position: absolute ;
  top: 30%;
  left: 40%;
  font-size: 1.2vw;
  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;

}

.iPongGame-UserBadge-username .score {
  position: absolute;
  left: 105%;

  font-weight: 550 !important;
  font-size: 2vw;
  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;
  width: 200px;
  margin-top: 10px;
  margin-left: 15%;
}


.iPongGame-VersusBadge 
.score {
  position: absolute;

  left: 90%;
  font-weight: 550 !important;
  font-size: 2vw;
  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;
  width: 200px;
  margin-top: 10px;
  margin-left: 15%;

}

 */





/* .iPongGame-UserBadge-username {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;

  gap: 10px;
  width: 60%;
}

.iPongGame-VersusBadge,
.iPongGame-UserBadge {
  position: relative;
  display: flex;
}

.iPongGame-UserBadge-username .username {
  font-weight: 550 !important;
  padding-top: 8px;  
  font-size: 1.2vw;
  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;

}


.VersusBadge-img , 
.UserBadge-img {

}

.iPongGame-VersusBadge 
.score,
.iPongGame-UserBadge-username .score {

} */




/* 

.iPongGame-UserBadge-username {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  display: flex;

  gap: 10px;
  width: 60%;
}



.iPongGame-UserBadge-username .username {
  font-weight: 550 !important;
  font-size: 1.2vw;

  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;
  padding-right: 40px;
  width: max-content !important;
}

.iPongGame-UserBadge-username .score {
  margin-top: 10px;
  margin-left: 15%;
  font-weight: 550 !important;
  font-size: 1.1vw;
  width: 200px;
  color: var(--Dark-color-Text-content, #ececec);
  font-family: "Poppins-regular", Helvetica;
}



.iPongGame-VersusBadge,
.iPongGame-UserBadge {
  position: relative;
  display: inline-block;
  max-width: max-content;
}

.VersusBadge,
.UserBadge {
  filter: brightness(0.8);
}



.iPongGame-UserBadge-username .VersusBadge-img
{
  width: 35% !important; 
  height: 35% !important;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #fff;
}




.iPongGame-UserBadge-username .UserBadge-img {
  width: 35% !important; 
  height: 35% !important;
  max-width: 100px; 
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 1px solid #fff;
}

.Versus3d {
  height: 13vw;
  width: 13vw;
}

@media (max-width: 1240px) {
  .iPongGame-UserBadge-username .username {
    font-size: 2vw !important;
  }
}
 */
