.create-account {
    background-color: #1d9bf0;
    border-radius: 45.73px;
    height: 41px;
    width: 350px;
}

.sign-in-competent-sign-in {
    background-color: #1d9bf0;
    border-radius: 45.73px;
    height: 41px;
    width: 400px;
}

.sign-in-competent-sign-in .group,
.create-account .group {
    height: 22px;
    left: 103px;
    position: relative;
    top: 10px;
    width: 100px;
}

.sign-in-competent-sign-in .div-wrapper,
.create-account .div-wrapper {
    height: 22px;
    position: relative;
    width: 102px;
}

.create-account .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12.7px;
    font-weight: 550;
    left: 63%;
    transform: translateX(-40%);
    letter-spacing: 0;
    line-height: 21.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    text-align: center; 
}

.sign-in-competent-sign-in .text-wrapper {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12.7px;
    font-weight: 550;
    left: 90%;
    transform: translateX(-40%);
    letter-spacing: 0;
    line-height: 21.2px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    text-align: center;

}


@media (max-width: 640px) {
    .sign-in-competent-sign-in {
        background-color: #1d9bf0;
        border-radius: 45.73px;
        height: 41px;
        width: 350px;
    }
    .sign-in-competent-sign-in .text-wrapper {
        color: #ffffff;
        font-family: "Poppins-Medium", Helvetica;
        font-size: 12.7px;
        font-weight: 550;
        left: 60%;
        transform: translateX(-40%);
        letter-spacing: 0;
        line-height: 21.2px;
        position: absolute;
        top: 0;
        white-space: nowrap;
        text-align: center;
    
    }
}