
.UserListMessages-frame {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.css-1a7s7t4 {
    padding: 0px !important;
}

.kkk {
    border-right:  0.8px solid #3c424d;
}

.No_conversations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #D3D3D3; 
    font-family: "sfprodisplay-semibold", serif;
    font-size: 18px;
    text-align: center; 
}
