.list-search-box .bg-black {
  background-color: #111316 !important;
  /* height: 200px !important; */
}

.list-search-box .border-small {
  border-radius: 10px !important;
  border: 0.5px solid #606671 !important;
}

/* .list-search-box-items */
.search-title .bg-default {
  background-color: #1e1f22 !important;
}

.search-title .font-normal {
  font-weight: 450 !important;
  font-size: 14px !important;
}

.list-search-box-items .text-small {
  color: aliceblue;
  font-size: 12px !important;
}

.list-search-box-items .text-default-400 {
  font-size: 12px !important;
}

.list-search-box-items {
  scrollbar-color: #888 rgba(58, 58, 58, 0.3);
}

.Chip-Selected:hover {
  background-color: #1e1f22 !important;
  color: #fff !important;
  cursor: pointer;
}

.css-1640xnq,
.css-1aag5xd,
.css-h83ll8,
.css-1efjw2w {
  margin: 0px !important;
}
.JoinRoom-frame-grid{
  display: flex !important;
  flex-direction: column !important;
  gap: 40px !important;
}

.JoinRoom-frame-main .User-info {
  display: flex !important;
  flex-direction: column !important;
  gap: 20px !important;
}
.JoinRoom-frame-main .User-info
.User-avatar,

.JoinRoom-frame-main .User-info .info {
  align-self: center !important;
}

.JoinRoom-frame-main .User-info .info {
  display: flex !important;
  justify-content: center !important;

}

.JoinRoom-frame-main .User-info .info .User-name {

  font-family: 'Poppins', sans-serif !important;
  margin-top: -8px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #fff !important;

}
.JoinRoom-frame-main 
.descriptions{
  margin-top: -20px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: 13px !important;
  font-weight: 400 !important;
  max-width: 300px;
  color: #fff !important;
}

.JoinRoom-frame-footer {
 padding-left: 70px !important
 ;

  margin-top: -20px !important;
}

.JoinRoom-frame-input-password {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.JoinRoom-frame-header {
 margin: 10px 0px 0px 10px !important;
}

.JoinRoom-frame-header .header {
  font-family: 'Poppins', sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

