.wrapper-style {
  background-color: rgba(49, 49, 49, 0.7) !important;
  border: #beb8b836 solid 0.5px !important;
  border-radius: 15px !important;

  display: flex;
  margin: 0px 0px 5px 9px;
  padding: 10px 10px 10px 10px;
  align-items: center;
  width: 347px;
  /* max-width: 310px; */
  max-height: max-content;
}

.notification-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.notification-content .time-of-notification {
  color: rgba(234, 234, 234, 1);
  font-family: "sfprodisplay-regular", sans-serif;
  font-size: 13px;
  font-weight: 450;
  letter-spacing: -0.6px;
  line-height: 26.6px;
  opacity: 0.5;
}
.notification-content .imessage-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-left: 25px;
  margin-top: 25px;
}

.notification-content .text-small {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 450;
  letter-spacing: 0;
  line-height: normal;
}

.notification-content .text-tiny {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: 450;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  max-width: 217.34px;
}
