.css-1lxa1ok {
    padding-left: 0px !important;
}
.css-ozxp7e{
    padding:  0px !important;
}
.css-19eujwq {
    padding:  0px !important;

}
.css-uiwrfz {
    padding:  0px !important;
}
.css-ozxp7e{
    padding:  0px !important;
}