/* .container {
  width: 100%;
  height: 100%;
  margin-top: 1px;
  background: url("/assets//game/backgrounds/game-background.jpg");
  background-size: cover;
  position: relative;
}

.iPongGame-frame {
  width: 100%;
  height: 100%;
  margin-top: 1px;
  background: url("./assets/game-background.jpg");
  background-size: cover;
  position: relative;
}

.progress-container {
  align-items: center;
  margin: 0px 50px 0px 50px;
}

.leaveButton {
  background-color: #007bff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leaveButton:hover {
  background-color: #0056b3;
}

.canvas-container {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.game {
  width: 100%;
  height: auto;
  object-fit: contain;
}

canvas {
  border: dashed 8px #ffffffaa;
  border-radius: 30px;
}

@media (max-width: 1240px) {
  .iPongGame-UserBadge-username .username {
    font-size: 2vw !important;
  }
} */
