.EditProfileWrapper-box {
  background-color: #000;
  border-radius: 15px;
  left: 1px;
  position: relative;
  border: 0.5px solid #3c424d;
  width: 500px;
  max-width: 452px;
  height: 650px;
  max-height: 1000px;
  margin: 5px;
}

.EditProfileNavbar {
  background-color: #111316;
  height: 55px;
  width: 450px;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 0.9px solid rgba(230, 209, 209, 0.27);
}

.EditProfileNavbar .overlap-group {
  display: flex;
  justify-content: center;
  padding: 15px 10px 10px 10px;
}

.EditProfileNavbar .text-wrapper {
  color: var(--Dark-color-Text-content, #ececec);
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 43.688px;
  /* margin-left: 40px; */
  margin-top: -10px;
}

.EditProfileNavbar .overlap-group {
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center; /* Vertically centers items */
  padding: 16px 10px 10px 10px !important;
}

.EditProfileNavbar .text-wrapper {
  color: var(--Dark-color-Text-content, #ececec);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 43.688px;
  flex: 1; /* Allows the text-wrapper to take up available space */
  text-align: center; /* Centers the text */
}

.EditProfileNavbar .push-button {
  margin-left: auto;
}

.center-items {
  display: flex;
  justify-content: center;
}


.CancelProfileNavbar-button {
  background-color: transparent !important;
  padding-left: 20px;
  color: #696969;
  margin-top: -10px;
  text-align: left;
  font-family: "sfprodisplay-regular", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 46.423px; /* 110% */
  letter-spacing: -0.861px;

}

.CancelProfileNavbar-button:hover {
  color: #3c424d;
  cursor: pointer;
}

.EditProfileNavbar-button {
  background-color: transparent  !important;
  padding-right: 20px;
  color: #007bfe;
  margin-top: -10px;
  text-align: right;
  font-family: "sfprodisplay-medium", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 46.423px; /* 110% */
  letter-spacing: -0.861px;
}

.EditProfileNavbar-button:hover {
  color: #007bfed4;
  cursor: pointer;
}

.edit-avatar-edit-profile {
  color: #ffffffb5 !important;
  position: fixed;
  top: 34%;
  left: 24%;
  transform: translate(-50%, -50%);
}

.edit-avatar-edit-profile:hover {
  opacity: 0.8;
  cursor: pointer;
}

/* User profile data: */

.edit-profile-form {
  margin-top: 80px !important;
}

.profile-cover-edit-profile {
  position: relative;
  margin-bottom: 45px;
}

.profile-cover-edit-profile .avatar-edit-profile {
  position: absolute;
  top: 60%;
  border: 5px solid rgb(0, 0, 0);
  left: 5%;
}

.user-cover-image-edit-profile {
  opacity: 0.5;
  width: 100%;
  height: 140px;
  object-fit: cover;
  border: 1px solid #3c424d;
  border-radius: 0px 0px 30px 30px;
}

.Change-cover-button-edit-profile {
  position: absolute;
  top: 70%;
  left: 72%;
}

.profile-cover-edit-profile .bg-primary {
  background: linear-gradient(
    180deg,
    rgb(75, 145, 247) 0%,
    rgb(54, 122, 246) 100%
  ); /* Background from .navbar .push-button */
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px;
}

.edit-profile-form .rounded-medium {
  width: 500px !important;
  max-width: 320px !important;
  /* all: unset; */
}
.edit-profile-form .text-small {
  color: rgba(29, 154, 239, 1) !important;
}

.edit-profile-form .text-black50 {
  color: var(--Dark-color-Text-content, #ececec) !important;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.704px;
}

.input-edit-profile {
  /* all: unset; */
  margin-bottom: 20px;

  /* border-bottom: 1px solid #3C424D; */
}

.profile-cover-edit-profile  
.error-message {

  font-family: Montserrat;
  color: red;
  font-size: 12px;
  margin-top: -10px;
  font-weight: 450;
  position: inherit;
  top: 20px;
  left: 140px;
}

.edit-profile-form 
.name{
 gap: 34px;
}
.edit-profile-form 
.email {
  gap: 33px;
}
.edit-profile-form 
.bio {
  gap: 55px;
}
.edit-profile-form 
.linkedInLink {
  gap: 12px;
}
.edit-profile-form 
.githubLink {
  gap: 27px;
}