/* .price {
    background-color: #ffffff;
    border-radius: 5.34px;
    height: 25px;
    position: relative;
    width: 80px;

}

.price .v-bucks-removebg {

    width: 15px;
    height: 15px;
    object-fit: cover;
    position: absolute;
    top: 4px;
} */

.price {
    padding: 4px;
}

.price .text-wrapper {
    color: #CFD1D4 !important;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 600;
    top: 1px;
    letter-spacing: 0;
    line-height: normal;


    white-space: nowrap;
}


.coins-button .bg-white{
    background-color: rgba(255, 255, 255, 0.1)!important; 
}

.coins-button .bg-white:hover{
    background-color: rgba(255, 255, 255, 0.2)!important; 
}