.WeSentCodeAndPassword-frame{
    margin-top: 20px;
    background-color: black;
    border: 0.5px solid #ffffff; 
    max-width: 460px; 
    max-height: 512px;  
}

@layer CloseIcon {
    .creat-close {
        padding: 10px !important;
        position: relative;
        overflow: hidden;
    }   
}

