.CongratulationsNewSkinWrapper-box {
    background-color: #0e0e0e;
    border-radius: 15px;
    left: 1px;
    position: relative;
    border: 0.5px solid #3C424D;
    width: 460px;
    height: 550px;
    max-height: 1000px;
    margin: 5px; 
}

.CongratulationsNewSkinNavbar {
    background-color: #000000;
    height: 55px;
    width: 459px;
    border-radius: 15px 15px 0px 0px;
    /* border-bottom: 0.8px solid rgba(230, 209, 209, 0.27); */
}
.CongratulationsNewSkinNavbar 
.overlap-group {
    display: flex;
    justify-content: center;
    padding: 15px 10px 10px 10px;

}
.CongratulationsNewSkinNavbar  .text-wrapper {
    color: #ECEDF0;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -4px;
    margin-left: 115px;


}


.CongratulationsNewSkinNavbar  
.push-button {
    /* margin-top: -50px; */
    margin-left: auto;
}


.CongratulationsNewSkinNavbar  
.object-cover {
    margin-top: -21px;
}

.CongratulationsNewSkin-frame 
.Tooltip-Button {
    position: fixed;
    top: 89%;
    left: 50%;
    transform: translate(-50%, -20%);
}

/* .CongratulationsNewSkinNavbar   .overlap-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 10px 10px 10px;
} */