

.set-padding {
    /* margin-top: 20px;
    margin-bottom: 20px; */
}
.CongratulationsNewSkin-frame .text-wrapper {
    position: absolute;
    top: 4%;
    left: 0%;
    color: #ECEDF0;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    margin-top: -4px;
    margin-left: 115px;


}


.CongratulationsNewSkin-card {
    border: 1px solid #2D2D2D;
}
.CongratulationsNewSkin-card  
.p-3 {
    padding: 0 !important;

}
.CongratulationsNewSkin-frame {

    position:  relative !important;
}

.push-button{
    position: absolute;
    top: 3%;
    right: 3%;
    z-index: 10;

}

.text-description {
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #ecedf0cf !important;
}

.CongratulationsNewSkinNavbar  
.object-cover {
    margin-top: -21px;
}

.footer-padding {
    margin-left: 50px;
}
.footer-padding {
    padding: 15px;
}
.footer-button {
    margin-right: 10px;
}

.adding-padding {
    padding: 30px 0px 30px 95px !important;
}
/* .CongratulationsNewSkinNavbar   .overlap-group {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 15px 10px 10px 10px;
} */