.CreatGroupChat-box {
  background-color: #000000;
  border-radius: 15px;
  left: 1px;
  position: relative;
  border: 0.5px solid #3c424d;
  width: 500px;
  max-width: 400px;
  height: 550px;
  max-height: 1000px;
  margin: 5px;
}

.CreatGroupChat-frame .CreatGroupChat-header {
  color: #e0e0e0;
  font-family: "popins-medium", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0px 10px 30px;
}
.CreatGroupChat-frame .Groups-Info {
  /* margin: 0px 10px 30px; */
}
.CreatGroupChat-frame .User-avatar {
  margin: 50px 0px 20px 150px;
}

.Edit-avatar {
  display: flex;
}
.CreatGroupChat-frame .Edit-group-icon {
  margin-top: 125px;
  margin-left: -5px;
}

.CreatGroupChat-frame .Edit-group-icon:hover {
  cursor: pointer;
}

.StartFriendChat-frame .max-w-xs ,
.CreatGroupChat-frame .max-w-xs {
  max-width: 350px;
  /* margin-left: 10px; */
}
.CreatGroupChat-frame .edit-Group-Name {
  margin-left: 25px;
}
.CreatGroupChat-frame .group-privaty,
.CreatGroupChat-frame .Add-people {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 25px;
}

.group-privaty-title,
.Add-people-title {
  align-self: stretch;
  color:#72767A;
  font-family: "sfprodisplay-medium", sans-serif;
  font-size: 15.4px;
  font-weight: 400;
  letter-spacing: -0.12px;
  line-height: 28.3px;
  position: relative;
  margin-left: 10px;
  margin-top: 5px;
}

.group-privaty-select {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.StartFriendChat-frame .sign-in-competent-sign-in ,
.CreatGroupChat-frame .sign-in-competent-sign-in {
  max-width: 350px;
  margin-left: 25px;
  margin-bottom: 20px;
}


.StartFriendChat-frame .sign-in-competent-sign-in:hover ,
.CreatGroupChat-frame .sign-in-competent-sign-in:hover {
  cursor: pointer;
}

.StartFriendChat-frame .sign-in-competent-sign-in .text-wrapper ,
.CreatGroupChat-frame .sign-in-competent-sign-in .text-wrapper {
  left: 68%;
  transform: translateX(-40%);
}


.CreatGroupChat-frame .closeicons {
  margin-left: 360px;
  margin-top: 13px;
  margin-bottom: -40px;
}