.JoinRoomAlert-box {
  background-color: #000;
  border-radius: 15px;
  left: 1px;
  position: relative;
  border: 0.5px solid #3c424d;
  width: 500px;
  max-width: 452px;
  height: 650px;
  max-height: 1000px;
  margin: 5px;
}
